

.d-flex {
    display: flex;
}
  
.gap-24 {
    gap: 24px;
}
  
.align-center {
    align-items: center;
}
  
.justify-center {
    justify-content: center;
}
  
.justify-between {
    justify-content: space-between;
}

.m-0 {
    margin: 0;
}
  
.mb-100 {
    margin-bottom: 100px;
}
  
.w-100 {
    width: 100%;
}
  
.color-error {
    color: rgb(186, 51, 51);
}
  
.d-block {
    display: block;
}

.p-16 {
    padding: 1rem;
}