#root {
  max-width: 1280px;
  margin: 4rem 2rem;
  padding: 2rem;
  width: 100%;
}

.d-flex {
  display: flex;
}

.gap-24 {
  gap: 24px;
}

.justify-center {
  justify-content: center;
}

.mb-100 {
  margin-bottom: 100px;
}

.w-100 {
  width: 100%;
}

.color-error {
  color: rgb(186, 51, 51);
}

.d-block {
  display: block;
} 

.products-grid {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
}